@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.no-padding {
    padding: 0px !important;
}

.padding-content {
    padding: 4px 0;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.inlineBlock {
    display: block;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

code {
    background: #eef1f6;
    padding: 15px 16px;
    margin-bottom: 20px;
    display: block;
    line-height: 36px;
    font-size: 15px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;

    a {
        color: #337ab7;
        cursor: pointer;

        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

.warn-content {
    background: rgba(66, 185, 131, .1);
    border-radius: 2px;
    padding: 16px;
    padding: 1rem;
    line-height: 1.6rem;
    word-spacing: .05rem;

    a {
        color: #42b983;
        font-weight: 600;
    }
}

//main-container全局样式
.app-container {
    padding: 120px;
}

.components-container {
    margin: 30px 50px;
    position: relative;
}

.pagination-container {
    margin-top: 30px;
}

.text-center {
    text-align: center
}

.sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

    .subtitle {
        font-size: 20px;
        color: #fff;
    }

    &.draft {
        background: #d0d0d0;
    }

    &.deleted {
        background: #d0d0d0;
    }
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;

    &:hover {
        color: rgb(32, 160, 255);
    }
}

.filter-container {
    padding-bottom: 10px;

    .input {
        max-width: 50px;
    }

    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: 16px;
}

.multiselect--active {
    z-index: 1000 !important;
}

//main-container全局样式
.app-container {
    padding: 8px 0 0 8px;
}


.main-filters {
    background: #fff;
    border: 1px solid #ebeef5;
    border-radius: 10px 10px 0 0;
    margin-bottom: 8px;
    position: relative;

    .search {
        position: relative;

        .el-input {
            width: 210px;
            display: inline-block;
        }
    }

    .el-row {
        margin-bottom: 8px;
        border-bottom: 1px dotted #ebeef5;

        &:last-child {
            border: none;
        }
    }

    .filters {
        margin: 10px 20px 10px;

        & .el-button {
            position: relative;
            left: 80%;
        }

        & .el-input {
            // max-width: 70%;
        }

        & .el-select {
            // min-width: 70%;
        }

        &.el-date-picker {
            // min-width: 70%;
        }
    }

    .date-selection {
        float: left;

        .el-row {
            border: none;
            margin-bottom: 0;
        }
    }

    .more-filter {
        font-size: 14px;
        margin: 0 20px;
        line-height: 23px;
        color: #1379b1;
        cursor: pointer;
        position: absolute;
        width: 120px;
        text-align: center;
        line-height: 23px;
        border-radius: 0 0 10px 10px;
        left: 50%;
        margin-left: -40px;
        bottom: -24px;
        border: 1px solid #ebeef5;
        border-top: none;
        background: #fff;
        z-index: 99;

        i {
            margin-left: 5px;
        }
    }

    // .el-form-item,
    // .el-form-item__content {
    //     display: inline-block !important;
    //     float: left;
    // }

    .el-form-item {
        margin-bottom: 10px;
    }

    /* 
    .el-form label {
        display: inline;
        font-weight: normal;
        width: 100px;
        text-align: right
    } */
}

.query {
    padding-bottom: 0;
}

.nav-btns {
    padding: 8px;
    border-bottom: 5px solid #efefef;

    .el-button {
        background: #ecf8ff;
        color: #409eff;
        border-bottom: 1px solid #89bcd8;
        padding: 5px 8px;
        font-weight: normal;
        font-size: 16px;
        cursor: pointer;

        i {
            margin-right: 5px;
        }

        &.cancel {
            background: #efefef;
            color: #1379b1;
            border-color: #89bcd8;

            &:hover,
            &:focus {
                background: #ecf8ff;
                color: #1379b1;
                border-color: #1379b1;
            }
        }

        &:hover,
        &:focus {
            background: #c7e8f7;
            color: #1379b1;
            border-color: #1379b1;
        }

        &.is-disabled,
        &.is-disabled:hover,
        &.is-disabled:focus {
            background: #efefef;
            color: #606266;
            border-color: #dcdfe6;
        }
    }
}